body {
  background-color: #6a5f77;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 4px;
  background-color: #454545;
  border-radius: 4px;
}

#message-area {
  margin-top: 32px;
  padding: 8px;
  width: 240px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

table {
  border: 5px solid orange;
  border-collapse: collapse;
  background-color: white;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

td.up {
  transform: rotate(0);
}

td.down {
  transform: rotate(180deg);
}

td.left {
  transform: rotate(-90deg);
}

td.right {
  transform: rotate(90deg);
}

td.at-flag {
  background-color: green;
}

button {
  margin: 8px 4px;
  padding: 8px;
  background-color: #89bd49;
  color: white;
  border: none;
  border-radius: 4px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.json-input {
  width: 320px;
  height: 320px;
  resize: none;
  margin-top: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.json-valid {
  color: green;
}

.json-error {
  color: red;
}