body {
    background-color: #6a5f77;
}

#container {
    display: flex;
    flex-direction: row;
}

#json {
    padding: 16px 16px 16px 0;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 4px;
    background-color: #454545;
    border-radius: 4px;
}

table {
    border: 5px solid orange;
    border-collapse: collapse;
    background-color: white;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

td.up {
    transform: rotate(0);
}

td.down {
    transform: rotate(180deg);
}

td.left {
    transform: rotate(-90deg);
}

td.right {
    transform: rotate(90deg);
}

td.at-flag {
    background-color: green;
}

button {
    margin: 8px 4px;
    padding: 8px;
    background-color: #89bd49;
    color: white;
    border: none;
    border-radius: 4px;
}

.json-input {
    width: 320px;
    height: 400px;
    resize: none;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
}

.json-valid {
    color: green;
}

.json-error {
    color: red;
}